/* ---------------------------------------------------
GLOBAL
----------------------------------------------------- */
body{
  margin: 0;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.submission-view-header{
  border-radius: 10px 0 0 0;
}

.submission-view-editable-layout{
  background-color: var(--darkblue);
}

.submission-view-editable-notice {
  background-color: var(--white);
  color: var(--black);
  border-width: 3px;
  border-style: solid;
  border-color: var(--orange);
}

.submission-view-editable-update-button{
  background-color: var(--orange);
  border-radius: 0;
}


.type-idea{
  background-color: var(--green);
  color: var(--white);
}

.type-problem{
  background-color: var(--red);
  color: var(--white);
}

.back-to-search-button {
  background-color: var(--blue);
  color: var(--white);
}

.status-indicator{
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}

.count-indicator{
  text-align: center;
  border-radius: 10px;
  background-color: var(--white);
  padding: 2px 4px 2px 4px;
  color: var(--black);
}

.back-to-search-button svg-icon{
  fill: var(--white);
}

.submission-data-container{
  background-color: var(--darkblue);
}

#submission-navigation mat-tab{
  margin: 0;
  padding: 0;
}

#submission-navigation .tab-content{
  background-color: var(--white);
  flex-direction: row;
  flex: 1;
}

#submission-navigation .interactive-button span.menu-item{

}
#submission-navigation .interactive-button {
  display: block;
  padding: 5px;
  background: var(--darkblue);
  color: var(--white);
  text-align: center;
  border-radius: 10px 10px 0 0;
}
#submission-navigation .active > a, a[aria-expanded="true"] {
  color: var(--black) !important;
  background: var(--white);
  border-style: none !important;
}
#submission-navigation .interactive-button:hover{
  color: var(--white);
  background: var(--blue);
  cursor: pointer;
}

#interaction-options {
  position: fixed;
  z-index: 4;
  bottom: 2%;
  right: 2%;
}

.like-button{
  padding: 5px;
  background-color: var(--blue);
  color: var(--white);
}

.already-liked{
  background-color: var(--lightgrey);
  color: var(--darkblue);
}

.editable-icon{
  vertical-align: middle;
  margin: auto auto auto 2px;
  color: var(--orange);
}

.editable-icon-valid{
  vertical-align: middle;
  margin: auto auto auto 2px;
  color: var(--green);
}

.confirm-edit-button {
  padding: 5px;
  background-color: var(--orange);
  color: var(--black);
}

.confirm-edit-button.valid {
  padding: 5px;
  background-color: var(--green);
  color: var(--white);
}

.confirm-edit-button.invalid {
  padding: 5px;
  background-color: var(--red);
  color: var(--white);
}

.upload-edit-button {
  padding: 5px;
  background-color: var(--darkblue);
  color: var(--white);
}

.reviewer-icon{
  vertical-align: middle;
  margin: auto auto auto 2px;
  color: var(--white);
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 746px) {

  .current-reviewer-info-container {
    background-color: var(--blue);
    width: 100%;
    padding: 4px;
  }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 746px) and (max-width: 991px) {

  .current-reviewer-info-container {
    background-color: var(--blue);
    border-radius: 10px;
    width: 100%;
    padding: 4px;
  }
}
/* tablets/desktops and up ———– */
@media (min-width: 992px) and (max-width: 1199px) {

  .current-reviewer-info-container {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 4px;
  }
}
/* large desktops and up ———– */
@media screen and (min-width: 1200px) {

  .current-reviewer-info-container {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 4px;
  }
}


