<div class="container-fluid content-container pr-0 pl-0">
  <div class="container-fluid" *ngIf="!loadedUsersListing">
    <div class="row" style="height: 50vh">
      <div class="col-12 d-flex justify-content-center">
        <span class="text-header my-auto mr-5">Ładuję użytkowników...</span>
        <mat-progress-spinner class="my-auto" mode="indeterminate" diameter="60"></mat-progress-spinner>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 p-0 users-container">
      <div *ngIf="loadedUsersListing">
        <table mat-table [dataSource]="loadedUsersListing" multiTemplateDataRows class="mat-elevation-z1">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of usersTableHeaders; let i = index">
            <th mat-header-cell class="text-center" *matHeaderCellDef> {{column}} </th>
            <td mat-cell class="text-medium text-center align-items-center" *matCellDef="let element" [ngSwitch]="column">
              <div *ngSwitchCase="usersTableHeaders[0]">
                <mat-chip-list>
                  <mat-chip class="pointer-events-disabled p-2">
                    <span class="text-medium text-uppercase text-center">{{element.employeeId}}</span>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div *ngSwitchCase="usersTableHeaders[1]">
                <span>{{element.email}}</span>
              </div>
              <div *ngSwitchCase="usersTableHeaders[2]">
                <span>{{element.name}}</span>
              </div>
              <div *ngSwitchCase="usersTableHeaders[3]">
                <mat-chip-list>
                  <mat-chip class="text-large pointer-events-disabled p-2" [ngStyle]="parseService.parseRoleChipDisplayStyle(element.role)">
                    <span class="text-medium text-uppercase">{{parseService.parseRole(element.role) | translate}}</span>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div *ngSwitchCase="usersTableHeaders[4]">
                <span>{{this.parseService.parseTimestampToDate(element.lastLogon) || 'brak aktywności'}}</span>
              </div>
              <div *ngSwitchCase="usersTableHeaders[5]">
                <span>{{this.parseService.parseTimestampToSimpleDate(element.created) || 'brak aktywności'}}</span>
              </div>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="usersTableHeaders.length">
              <div class="element-detail" [@detailExpand]="element == expandedUserShort ? 'expanded' : 'collapsed'">
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="usersTableHeaders; sticky: false"></tr>
          <tr mat-row *matRowDef="let element; columns: usersTableHeaders;" (click)="openProfileViewById(element.employeeId)"
              class="element-row"
              [class.example-expanded-row]="expandedUserShort === element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" ></tr>
        </table>
      </div>
    </div>
  </div>
</div>
