table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

mat-chip-list{
  width: 100%;
}

.users-container{
  background-color: var(--white);
  width: 100%;
}

.show-account-button{
  background-color: var(--darkblue);
  color: var(--white);
}


@media screen and (max-width: 746px) {

  .content-container {
    height: 90vh;
    overflow: auto;
    padding-bottom: 80%;
  }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 746px) and (max-width: 991px) {

  .content-container {
    height: 90vh;
    overflow: auto;
    padding-bottom: 50%;
  }

}
/* tablets/desktops and up ———– */
@media (min-width: 992px) and (max-width: 1199px) {

  .content-container {
    height: 90vh;
    overflow: auto;
    padding-bottom: 50%;
  }
}
/* large desktops and up ———– */
@media screen and (min-width: 1200px) {

  .content-container {
    height: 90vh;
    overflow-y: auto;
    padding-bottom: 50%;
  }
}
