<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Authorized skeleton view</title>
</head>

<body>
  <div class="container-fluid px-0 h-100">
    <div class="row no-gutters d-flex h-100 position-relative">
    <div class="p-0 h-100">
      <div class="position-fixed h-100 align-self-start sidebar">
       <nav id="sidebar" [ngClass]="{ 'folded': !sidebarOpen }">
          <div class="sidebar-header">
            <svg-icon src="../../assets/img/svg/kaizenchallenge_logo_white.svg" [stretch]="false"
                      [svgStyle]="{'width.px':'200', 'height.px':'120'}"></svg-icon>
          </div>
          <ul class="profile-info">
            <li>
              <div class="row">
                <div class="col-5 image-holder-center">
                  <img class="profile-large" src="../../assets/img/placeholder/circular-photo.jpg" alt="none">
                </div>
                <div class="col-7 m-0 pl-0">
                  <div class="row m-0 text-medium text-left">
                    {{this.sessionService.getUserData().name}} {{this.sessionService.getUserData().surname}}
                  </div>
                  <div class="row m-0">
                    <jn-star-rating [ngModel]="this.parseService.calculateStarCount(this.sessionService.getUserExp())"></jn-star-rating>
                  </div>
                  <div class="row m-0" (click)="sidebarNavigateToProfile()">
                    <a class="interactive-button-small text-small">
                      <span class="container">Profil</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="Options">
            <li class="profile-info-small">
              <a class="interactive-button-profile" (click)="sidebarNavigateToProfile()">
                <span class="container menu-item text-large">Profil</span>
                <svg-icon src="../../assets/img/svg/profile.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li [ngClass]="{ 'active' : currenMenutSelection === menuSelector.SUBMISSIONS }">
              <a class="interactive-button" (click)="sidebarNavigateToSubmissions()">
                <span class="container menu-item text-large">Zgłoszenia</span>
                <svg-icon src="../../assets/img/svg/new_submission.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li class="sm-hidden" [ngClass]="{ 'active': currenMenutSelection === menuSelector.COMMUNICATOR}">
              <a class="interactive-button">
                <span class="container menu-item text-large">Komunikator</span>
                <svg-icon src="../../assets/img/svg/chat.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li  class="sm-hidden" [ngClass]="{ 'active': currenMenutSelection === menuSelector.KNOWLEDGEBASE }">
              <a class="interactive-button">
                <span class="container menu-item text-large">Baza Wiedzy</span>
                <svg-icon src="../../assets/img/svg/knowledge.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li [ngClass]="{ 'active': currenMenutSelection === menuSelector.NOTIFICATIONS }">
              <a class="interactive-button" matBadge="{{this.activeNotificationsCount}}"
                 matBadgeSize="medium" matBadgePosition="above after" matBadgeColor="warn"
                 [matBadgeHidden]="this.activeNotificationsCount === 0" (click)="openNotificationsDialog()">
                <span class="container menu-item text-large">Powiadomienia</span>
                <svg-icon src="../../assets/img/svg/notifications.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li [ngClass]="{ 'active': currenMenutSelection === menuSelector.USERS }">
              <a class="interactive-button" (click)="sidebarNavigateToUsers()">
                <span class="container menu-item text-large">Użytkownicy</span>
                <svg-icon src="../../assets/img/svg/users.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li [ngClass]="{ 'active': currenMenutSelection === menuSelector.CREATIVITY_RANKING }">
              <a class="interactive-button-long" (click)="sidebarNavigateToCreativityRanking()">
                <span class="container menu-item text-medium">Ranking Kreatywności</span>
                <svg-icon src="../../assets/img/svg/ranking.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li  class="sm-hidden" [ngClass]="{ 'active': currenMenutSelection === menuSelector.OEE_SIMULATOR }">
              <a class="interactive-button">
                <span class="container menu-item text-large">LEAN Simulator</span>
                <svg-icon src="../../assets/img/svg/witness.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '25'}"></svg-icon>
              </a>
            </li>
            <li *ngIf="sessionService.checkAdminPrivilege()" [ngClass]="{ 'active': currenMenutSelection === menuSelector.ADMIN_PANEL }">
              <a class="interactive-button-long admin" (click)="sidebarNavigateToAdminPanel()">
                <span class="container menu-item text-medium">Panel Administracyjny</span>
                <svg-icon src="../../assets/img/svg/admin_panel.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
            <li>
              <a class="interactive-button logout text-large" (click)="onLogout()">
                <span class="container p-0">Wyloguj</span>
                <svg-icon src="../../assets/img/svg/logout.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col">
      <div id="content" style="background-color: var(--white)">
        <nav id="top-navbar" class="navbar">
          <div class="container-fluid navbar-container">
            <button type="button" id="sidebarCollapse" (click)="toggleNavbar()" class="navbar-btn" [ngClass]="{ 'rotate': !sidebarOpen }">
              <svg-icon src="../../assets/img/svg/arrow_left.svg" applyClass class="menu-control" [svgStyle]="{'width.px': '30', 'height.px': '30'}">"></svg-icon>
            </button>
            <ul class="navbar-options">
              <li [ngClass]="{ 'active' : currentNavbarSelection === navbarSelector.SUBMISSION }">
                <a class="interactive-button" (click)="navbarNavigateToSubmissionForm()">
                  <span class="container menu-item text-header">Zgłoszenie</span>
                  <svg-icon src="../../assets/img/svg/kaizen.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
                </a>
              </li>
              <li [ngClass]="{ 'active' : currentNavbarSelection === navbarSelector.SEARCH }">
                <a class="interactive-button" (click)="navbarNavigateToSubmissionSearch()">
                  <span class="container menu-item text-header">Wyszukiwarka</span>
                  <svg-icon src="../../assets/img/svg/search.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
                </a>
              </li>
              <li [ngClass]="{ 'active' : currentNavbarSelection === navbarSelector.RESULTS }">
                <a class="interactive-button" (click)="navbarNavigateToSubmissionResults()">
                  <span class="container menu-item text-header">Raporty</span>
                  <svg-icon src="../../assets/img/svg/report.svg" applyClass class="menu-icon" [svgStyle]="{'width.px': '30', 'height.px': '30'}"></svg-icon>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="content-holder" [ngClass]="{'sidebar-active': sidebarOpen}">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>

</html>
