/* Extra small devices (phones, up to 480px) */


.creativity-listing{
  height: 100%;
  overflow: auto;
  padding-bottom: 30%;
}

#interaction-options {
  position: fixed;
  z-index: 4;
  bottom: 2%;
  right: 1%;
}

#interaction-options .export-button{
  padding: 5px;
  background-color: var(--green);
  color: var(--white);
}

#interaction-options .refresh-button {
  padding: 5px;
  background-color: var(--darkblue);
  color: var(--white);
}

.creativity-listing-row {
  cursor: pointer;
}

.creativity-listing-row:hover{
  background: whitesmoke;
}

/* LEADERS */

fieldset.leaders {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px !important;
  border-color: var(--darkblue) !important;
  width: fit-content;
}

.leaders-header {
  border-radius: 10px;
  background-color: var(--darkblue);
  color: var(--white);
}

.leaders-content-container {
  border-radius: 10px;
}

.leader-icon {
  color: goldenrod;
}

/* PRETENDERS */

fieldset.pretenders {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px !important;
  border-color: var(--blue) !important;
  width: fit-content;
}

.pretenders-header {
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
}

.pretenders-content-container {
  border-radius: 10px;
}

.pretenders-icon {
  color: var(--white);
}

/* MOST ACTIVE IDEAS */

fieldset.most-active-ideas {
  border-radius: 10px;
  border-style: solid;
  border-width: 0px !important;
  background-color: var(--darkblue) !important;
  width: 100%;
}

.most-active-ideas-header {
  border-radius: 10px;
  background-color: var(--darkblue);
  color: var(--white);
}

.most-active-ideas-content-container {
  border-radius: 10px;
}

.most-active-ideas-icon {
  color: goldenrod;
}

/* MOST ACTIVE PROBLEMS */

fieldset.most-active-problems {
  border-radius: 10px;
  border-style: solid;
  border-width: 0px !important;
  background-color: var(--darkblue) !important;
  width: 100%;
}

.most-active-problems-header {
  border-radius: 10px;
  background-color: var(--darkblue);
  color: var(--white);
}

.most-active-problems-content-container {
  border-radius: 10px;
}

.most-active-problems-icon {
  color: var(--red);
}

/* MISC */

.submission {
  padding: 10px 0px 0px 0px;
}

.submission-header{
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
}

.submission-footer {
  border-radius: 0px 0px 6px 6px;
  padding: 5px 5px 0px 5px;
}

fieldset.submission {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px !important;
  background-color: var(--white);
  width: fit-content;
  cursor: pointer;
}

fieldset.submission.is-idea-border:hover {
  border-color: var(--green) !important;
}

fieldset.submission.is-problem-border:hover {
  border-color: var(--red) !important;
}

.like-style {
  color: var(--blue);
}

.comments-style {
  color: var(--black);
}

.reviews-style {
  color: var(--orange);
}

.is-idea-border{
  border-color: var(--lightgreen) !important;
}

.is-problem-border{
  border-color: var(--lightred) !important;
}

.is-idea-background{
  background-color: var(--lightgreen) !important;
}

.is-problem-background{
  background-color: var(--lightred) !important;
}


/* MISC */

.exp-icon {
  color: var(--darkblue);
}

.user-id {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  background-color: var(--lightgrey);
  color: var(--black);
}

.ideas-counter-container {
  padding: 2px 2px 4px 2px;
  border-radius: 8px 0 0 8px;
  color: var(--green);
}

.problems-counter-container {
  padding: 2px 2px 4px 2px;
  border-radius: 0 8px 8px 0;
  color: var(--red);
}

.exp-counter-container {
  padding: 2px 2px 4px 2px;
  border-radius: 0 8px 8px 0;
  color: var(--black);
}

.export-button{
  background-color: var(--blue);
}

.refresh-button{
  background-color: var(--blue);
}


@media screen and (max-width: 746px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 8px;
  }

  .text-small{
    font-size: 9px;
  }

  .text-medium{
    font-size: 10px;
  }

  .text-large{
    font-size: 12px;
  }

  .text-header{
    font-size: 14px;
  }

  /* ---------------------------------------------------
SEARCH FILTER STYLE
----------------------------------------------------- */

  hr{
    display: block;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
  }

  .background-layer{
    background-color: var(--darkblue);
    margin: 0;
    padding: 0;
    top: 60px;
    position: sticky;
  }

  .content-container{
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px 0 0 0;
  }

  .top-bar{
    position: sticky;
  }

  .w-sm-100 {
    width: 100% !important;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 746px) and (max-width: 991px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 9px;
  }

  .text-small{
    font-size: 11px;
  }

  .text-medium{
    font-size: 13px;
  }

  .text-large{
    font-size: 15px;
  }

  .text-header{
    font-size: 16px;
  }

  /* ---------------------------------------------------
SEARCH FILTER STYLE
----------------------------------------------------- */

  hr{
    display: block;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
  }

  .background-layer{
    background-color: var(--darkblue);
    margin: 0;
    padding: 0;
    top: 60px;
    position: sticky;
  }

  .content-container{
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px 0 0 0;
  }


}
/* tablets/desktops and up ———– */
@media (min-width: 992px) and (max-width: 1199px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 10px;
  }

  .text-small{
    font-size: 12px;
  }

  .text-medium{
    font-size: 14px;
  }

  .text-large{
    font-size: 15px;
  }

  .text-header{
    font-size: 18px;
  }

  /* ---------------------------------------------------
SEARCH FILTER STYLE
----------------------------------------------------- */

  hr{
    display: block;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
  }

  .background-layer{
    background-color: var(--darkblue);
    margin: 0;
    padding: 0;
    top: 60px;
    position: sticky;
  }

  .content-container{
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px 0 0 0;
  }

}
/* large desktops and up ———– */
@media screen and (min-width: 1200px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 12px;
  }

  .text-small{
    font-size: 14px;
  }

  .text-medium{
    font-size: 15px;
  }

  .text-large{
    font-size: 18px;
  }

  .text-header{
    font-size: 20px;
  }

  /* ---------------------------------------------------
SEARCH FILTER STYLE
----------------------------------------------------- */

  hr{
    display: block;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
  }

  .background-layer{
    background-color: var(--darkblue);
    margin: 0;
    padding: 0;
    top: 60px;
    position: sticky;
  }

  .content-container{
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px 0 0 0;
  }

}


