.upload-cancel-button{
  color: var(--white);
  background-color: var(--red);
}
.upload-delete-button{
  margin-left: 5px;
  color: var(--red);
  background-color: var(--white);
  border: 4px var(--red) solid;
}
.upload-pause-button{
  color: var(--white);
  background-color: var(--yellow);
}
.upload-resume-button{
  color: var(--blue);
  background-color: var(--white);
}

/* Extra small devices (phones, up to 480px)  bootstrap SM*/
@media screen and (max-width: 767px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 8px;
  }

  .text-small{
    font-size: 9px;
  }

  .text-medium{
    font-size: 10px;
  }

  .text-large{
    font-size: 12px;
  }

  .text-header{
    font-size: 14px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 9px;
  }

  .text-small{
    font-size: 11px;
  }

  .text-medium{
    font-size: 13px;
  }

  .text-large{
    font-size: 15px;
  }

  .text-header{
    font-size: 24px;
  }

}
/* tablets/desktops and up ———– */
@media (min-width: 993px) and (max-width: 1199px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 10px;
  }

  .text-small{
    font-size: 12px;
  }

  .text-medium{
    font-size: 14px;
  }

  .text-large{
    font-size: 18px;
  }

  .text-header{
    font-size: 24px;
  }

}
/* large desktops and up ———– */
@media screen and (min-width: 1200px) {

  /* ---------------------------------------------------
  TEXT STYLE
----------------------------------------------------- */

  .text-misc{
    font-size: 12px;
  }

  .text-small{
    font-size: 14px;
  }

  .text-medium{
    font-size: 15px;
  }

  .text-large{
    font-size: 22px;
  }

  .text-header{
    font-size: 28px;
  }

}
