/* Extra small devices (phones, up to 480px) */
fieldset {
  position: relative;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px !important;
  border-color: var(--grey) !important;
  width: fit-content;
  cursor: pointer;
}

fieldset:hover {
  border-style: dashed !important;
  border-color: var(--green) !important;
}

fieldset.was-read {
  opacity: 0.4 !important;
}

legend{
  cursor: pointer;
}

.notification-title{
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
}

.notification-body{

}

.notification-footer{
  color: var(--black);
}

@media screen and (max-width: 746px) {
  .notifications-container {
    height: 50vh;
    overflow: auto;
    padding-bottom: 80%;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 746px) and (max-width: 991px) {
  .notifications-container {
    height: 50vh;
    overflow: auto;
    padding-bottom: 80%;
  }
}
/* tablets/desktops and up ———– */
@media (min-width: 992px) and (max-width: 1199px) {
  .notifications-container {
    height: 50vh;
    overflow: auto;
    padding-bottom: 80%;
  }
}
/* large desktops and up ———– */
@media screen and (min-width: 1200px) {
  .notifications-container {
    height: 50vh;
    overflow: auto;
    padding-bottom: 80%;
  }
}
