<div class="container-fluid content-container pr-0 pl-0">
  <div class="container-fluid" *ngIf="isLoadingSubmissions">
    <div class="row" style="height: 50vh">
      <div class="col-12 d-flex justify-content-center">
        <span class="text-header my-auto mr-5">Ładuję zgłoszenia...</span>
        <mat-progress-spinner class="my-auto" mode="indeterminate" diameter="60"></mat-progress-spinner>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!isLoadingSubmissions && !submissionListing">
    <div class="row" style="height: 50vh">
      <div class="col-12 d-flex justify-content-center">
        <span class="text-header my-auto mr-5">Brak wyników</span>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 p-0 users-container">
      <div *ngIf="submissionListing && !isLoadingSubmissions">
        <div *ngFor="let submission of this.submissionListing; trackBy: trackBySubmissionId">
          <div class="container-fluid" (click)="openSubmissionViewById(submission.submissionId)">
            <div class="comment row m-0 mt-2">
              <div class="col-12 d-flex justify-content-center m-0 p-0">
                <div class="row m-0 w-100">
                  <fieldset class="submission border w-100 h-100" [class.is-idea-border]="submission.type === 0" [class.is-problem-border]="submission.type === 1">
                    <legend class="submission-header w-auto text-medium text-sm-left text-center d-inline-flex justify-content-between">
                      <span class="ml-2">{{submission.authorName}}</span>
                      <jn-star-rating class="ml-2 text-nowrap my-auto" [ngModel]="parseService.calculateStarCount(submission.authorExp)"></jn-star-rating>
                      <span class="ml-2 mr-2 text-uppercase"><strong> {{parseService.parseCategory(submission.category) | translate}} </strong></span>
                    </legend>
                    <span class="ml-2 mr-2 mb-2 text-header d-block">
                      {{submission.topic}}
                    </span>
                    <span class="d-block text-right submission-footer" [class.is-idea-background]="submission.type === 0" [class.is-problem-background]="submission.type === 1">
                      <mat-chip-list class="ml-2 d-inline-block chips-inline float-left">
                        <mat-chip class="pointer-events-disabled transparent-chip p-0 m-0 mr-1">
                          <span class="text-medium text-uppercase"><strong>{{parseService.parseStatus(submission.status) | translate}}</strong></span>
                        </mat-chip>
                      </mat-chip-list>
                      <mat-chip-list class="ml-2 pointer-events-disabled d-inline-block chips-inline float-right">
                        <mat-chip class="transparent-chip p-0 m-0 mr-1 text-medium">
                            <mat-icon class="mr-1">today</mat-icon>
                          {{this.parseService.parseTimestampToSimpleDate(submission.timestampCreated)}}
                        </mat-chip>
                      </mat-chip-list>
                      <mat-chip-list class="pointer-events-disabled d-inline-block chips-inline">
                        <mat-chip class="transparent-chip p-0 m-0 mr-1 text-medium">
                            <mat-icon class="mr-1 like-style">thumb_up</mat-icon>
                            <span class="mr-1 sm-hidden like-style">Polubienia</span>
                            <span class="counter-container">{{submission.likeCount}}</span>
                        </mat-chip>
                        <mat-chip class="transparent-chip p-0 m-0 mr-1 text-medium">
                            <mat-icon class="mr-1 comments-style">comment</mat-icon>
                            <span class="mr-1 sm-hidden comments-style">Komentarze</span>
                            <span class="counter-container">{{submission.commentCount}}</span>
                        </mat-chip>
                         <mat-chip class="transparent-chip p-0 m-0 mr-1 text-medium">
                            <mat-icon class="mr-1 comments-style">attach_file</mat-icon>
                            <span class="mr-1 sm-hidden comments-style">Załączniki</span>
                            <span class="counter-container">{{submission.attachmentsCount}}</span>
                        </mat-chip>
                        <mat-chip class="transparent-chip p-0 m-0 mr-1 text-medium">
                            <mat-icon class="mr-1 reviews-style">rate_review</mat-icon>
                            <span class="mr-1 sm-hidden">Recenzje</span>
                            <span class="counter-container">{{submission.reviewCount}}</span>
                        </mat-chip>
                      </mat-chip-list>

                    </span>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
