<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Authorized skeleton view</title>
</head>

<body>
<div class="row m-0 p-0">
  <div class="col-12 p-0">
    <div class="search-filter-container" [ngClass]="{'search-filter-disabled': !this.submissionSearchService.isSearchFilterEnabled}">
      <form [formGroup]="searchForm" class="text-small ml-2 mt-2" [ngClass]="{'search-filter-folded': this.submissionSearchService.isSearchFilterFolded}">
      <div id="search-filter" class="row m-0">
        <div class="col-9">
          <div class="row">
            <div class="col-sm-6 pl-2 pr-0">
              <div class="row">
                <div class="col-6 pr-0">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Filtruj po obszarze</mat-label>
                    <mat-select #areas formControlName="areas" multiple  [disabled]="this.submissionIdValid.value">
                      <mat-option *ngFor="let areaIndex of arraysService.areaArrayPrototype(sessionService.getUserState(), sessionService.getUserAreas())" [value]="areaIndex">
                        {{parseService.parseArea(areaIndex) | translate}}
                      </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="areas.value" matSuffix mat-icon-button aria-label="Clear" (click)="areasValid.setValue(null); $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-6 pl-2">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Filtruj po kategorii</mat-label>
                    <mat-select #category formControlName="category" multiple  [disabled]="this.submissionIdValid.value">
                      <mat-option *ngFor="let categoryIndex of arraysService.categoryArrayPrototype()" [value]="categoryIndex">
                        {{parseService.parseCategory(categoryIndex) | translate}}
                      </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="category.value" matSuffix mat-icon-button aria-label="Clear" (click)="categoryValid.setValue(null); $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pl-2 pr-0">
              <div class="row">
                <div class="col-6 pr-0">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Filtruj po statusie</mat-label>
                    <mat-select #status formControlName="status" multiple  [disabled]="this.submissionIdValid.value">
                      <mat-option *ngFor="let statusIndex of arraysService.statusArrayPrototype(sessionService.getUserRole())" [value]="statusIndex">
                        {{parseService.parseStatus(statusIndex) | translate}}
                      </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="status.value" matSuffix mat-icon-button aria-label="Clear" (click)="statusValid.setValue(null); $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-6 pl-2">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Ułóż w kolejności</mat-label>
                    <mat-select #orderBy formControlName="orderBy"  [disabled]="this.submissionIdValid.value">
                      <mat-option *ngFor="let orderByIndex of arraysService.orderByArrayPrototype_SubmissionSearch()" [value]="orderByIndex">
                        {{parseService.parseOrderBy_SUB(orderByIndex) | translate}}
                      </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="orderBy.value !== 4 " matSuffix mat-icon-button aria-label="Clear" (click)="orderByValid.setValue(4); $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 pl-2 pr-0">
              <div class="row">
                <div class="col-6 pr-0">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Filtruj po typie</mat-label>
                    <mat-select #type formControlName="type" multiple  [disabled]="this.submissionIdValid.value">
                      <mat-option *ngFor="let typeIndex of arraysService.typeArrayPrototype()" [value]="typeIndex">
                        {{parseService.parseType(typeIndex) | translate}}
                      </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="type.value" matSuffix mat-icon-button aria-label="Clear" (click)="typeValid.setValue(null); $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-6 pl-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Okres przeszukiwania</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [disabled]="this.submissionIdValid.value">
                      <input matStartDate #pickerStart formControlName="dateRangeStart" placeholder="Szukaj OD">
                      <input matEndDate #pickerEnd formControlName="dateRangeEnd" placeholder="Szukaj DO">
                    </mat-date-range-input>
                    <mat-datepicker-toggle *ngIf="!pickerStart.value" matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <button mat-button *ngIf="pickerStart.value" matSuffix mat-icon-button aria-label="Clear" (click)="dateRangeStartValid.setValue(null); dateRangeEndValid.setValue(null);  $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pl-2 pr-0">
              <div class="row">
                <div class="col-6 pr-0">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>ID zgłoszenia</mat-label>
                    <input matInput #subId formControlName="submissionId" type="number" #submissionId maxlength="10" placeholder="ID Zgłoszenia">
                    <mat-hint align="start"><strong></strong>Wyszukaj po ID</mat-hint>
                    <mat-hint align="end">{{submissionId.value.length}} / 10</mat-hint>
                    <button mat-button *ngIf="subId.value" matSuffix mat-icon-button aria-label="Clear" (click)="submissionIdValid.setValue(null); $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-6 pl-2 my-auto">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Ogranicz do autora</mat-label>
                    <mat-select #author formControlName="authorType" [disabled]="this.submissionIdValid.value">
                      <mat-option *ngFor="let authorIndex of arraysService.authorTypeArrayPrototype()" [value]="authorIndex">
                        {{parseService.parseAuthorType(authorIndex) | translate}}
                      </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="author.value" matSuffix mat-icon-button aria-label="Clear" (click)="authorTypeValid.setValue(0); $event.stopPropagation()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row h-100">
            <div class="col-12 d-flex justify-content-center pb-4">
              <button mat-fab class="search-button my-auto" type="submit" (click)="onSearchConfirmed()">
                <svg-icon class="my-auto" src="../../assets/img/svg/submission_search.svg" [applyClass]="false" svgClass="search-button-icon"></svg-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      </form>
      <div id="paginator-bar" class="row m-0 p-0">
        <div class="col-12 d-inline-flex justify-content-between">
          <button mat-button class="export-button text-medium my-auto">
            <span class="sm-hidden mr-2">Eksportuj </span>
            <svg-icon src="../../assets/img/svg/excel.svg" [applyClass]="false" svgClass="export-button-icon"></svg-icon>
          </button>
          <mat-paginator *ngIf="currentSubmissionsCount" class="text-medium" style="background-color: transparent; color: var(--black)"
                          [hidePageSize]="false"
                          [length]="currentSubmissionsCount"
                          [pageSize]="currentPageSize"
                          [pageSizeOptions]="pageSizeOptions"
                          (page)="onPageEvent($event)">
          </mat-paginator>
          <button mat-button class="toggle-filter-button text-medium my-auto" (click)="this.submissionSearchService.toggleSearchFilterFolded()">
            <span *ngIf="this.submissionSearchService.isSearchFilterFolded" class="sm-hidden mr-2">Pokaż filtry</span>
            <span *ngIf="!this.submissionSearchService.isSearchFilterFolded" class="sm-hidden mr-2">Ukryj filtry</span>
            <svg-icon *ngIf="this.submissionSearchService.isSearchFilterFolded" src="../../assets/img/svg/search.svg" class="toggle-filter-icon" [ngClass]="{'isOpen' : true}" [svgStyle]="{'width.px': '20', 'height.px': '30'}"></svg-icon>
            <svg-icon *ngIf="!this.submissionSearchService.isSearchFilterFolded" src="../../assets/img/svg/arrow_up.svg" class="toggle-filter-icon" [ngClass]="{'isOpen' : true}" [svgStyle]="{'width.px': '20', 'height.px': '30'}"></svg-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-0 p-0 h-100">
  <div class="col-12 pr-0 pl-0">
    <div class="container-fluid p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

</body>

</html>
